/* mobile */
@media (min-width: 1px) and (max-width: 1089px) {

	.fixed-header {display:none;}
	.login{display:block}
	.mpage{display:block;}
	.spage{overflow-x:auto;white-space: nowrap;}
	
}

/* desktop */
@media (min-width: 1090px) {

	.fixed-header {display:block;}
	.login{display:none}
	.mpage{display:none;}


	/* header */
	.fixed-header {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
	}
	.top-line { background:#f8f9fa; }
	.fixed-top {
		position: absolute;
		top: 34px;
		right: 0;
		left: 0;
		z-index: 1030;
	}


}

.footer h2{margin:0 0 20px;}


.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-first{
	padding: 50px 0px 50px 20px;
    background: #4c4f6f;
    font-size: 20px;
	color:#fff;
    font-weight: bold;
    border-top: 3px solid #313450;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.carousel-item a{color:#fff;}

/* 네비게이션 수정 */
.dropdown-menu {
    border-radius: 0px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 7px 15px;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-menu-right:hover {
	background:#f5f5f5;
}

.color-gray{color:#666}
.color-red{color:#ff0000}


.f12 {font-size: 12px;}
.f13 {font-size: 13px;}
.f14 {font-size: 14px;}
.f15 {font-size: 15px;}
.f16 {font-size: 16px;}
.f17 {font-size: 17px;}
.f18 {font-size: 18px;}
.f19 {font-size: 19px;}
.f20 {font-size: 20px;}

/* pages */
.info-2 i{font-size:20px;}
table th, table td{ font-family: 'S-CoreDream-4Regular';font-size: 14px;}



#bo_v_sns li span{display:none;}
#bo_v_sns {display:none;position:absolute;top:-50px;right:0px;margin-left:-90px;width:180px;padding:0;list-style:none;zoom:1}

/* 퍼블리싱 */
.dropdown-toggle::after {display: none;}
.navbar {padding: 0;}
.navbar-expand-lg .navbar-nav .nav-link {height: 66px; color: #323232; font-weight: 600; font-size: 20px;}
.navbar {position: relative; border-bottom: 3px solid transparent;}
.navbar:hover::before {content: ''; position: absolute; left: 0; top: 76px; width: 100%; height: 1px; background: #c4c4c4;}
.navbar:hover::after {z-index: -1; content: ''; position: absolute; left: 0; top: 76px; width: 100%; height: 185px; background: #fff;}
.nav-item:hover > a {border-bottom: 3px solid #8dc700;}
.dropdown-menu-right {border: none; min-width: auto;}
.dropdown-gnb {display: none;}
.megamenu-li {width: 135px;}
.dropdown-item:hover {color: #8dc700;}	
.nav-item.dropdown {position: relative;}
.dropdown-menu-right {display: none; position: absolute; z-index: 10; width: 100%; height: 183px; top: 66px; left: 50%; transform: translateX(-50%);}
.nav-item.dropdown:hover .dropdown-menu-right {display: block;}
