/*
 * BOOTSTRAP 4.X 기반
 * http://ETY.KR
 * 상업적 또는 영리로 이용 가능하며 제작의뢰 받아서 유료로 작업을 해도 됩니다.
 * 사용하셔도 되지만 다른곳에 배포하지 마세요.(저작권관련 문제가 발생될 수 있습니다.)
 * 배포, 재배포는 에티테마(http://ety.kr) ,소프트존(http://www.softzone.co.kr) 만 가능하며 솔루션으로 재판매할 수 없으며 지적재산권을 주장할 수 없습니다.
 	
	font-family: 'Roboto', sans-serif;
	font-family: 'Nanum Gothic', sans-serif;
	font-family: 'Noto Sans KR', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Raleway', sans-serif;

 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2018-2021 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */


@font-face {
     font-family: 'S-CoreDream-2ExtraLight';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-9Black';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);





a { color:#666666; }
.footer ul li a{color:#fff;}
.footer ul li a:hover{color:#666;}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.navbar .dropdown.show a:active { 
  background-color: #6c757d;
}
.bg-white {
    background-color: #ffffff!important;
	box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 3px;
    background-color: rgba(255, 255, 255, 0.98);
}

.ks2{font-family: 'S-CoreDream-2ExtraLight';}
.ks3{font-family: 'S-CoreDream-3Light';}
.ks4{font-family: 'S-CoreDream-4Regular';}
.ks5{font-family: 'S-CoreDream-5Medium';}
.ks9{font-family: 'S-CoreDream-9Black';}
.na{font-family: 'NanumSquareRound';}
.na2{font-family: 'Nanum Gothic', sans-serif;}



.ko{font-family: 'Noto Sans KR';}
.ko1{font-family: 'Noto Sans KR';}
.ko2{font-family: 'Gulim';}
.ko3{font-family: 'Nanum Gothic', sans-serif;}
.en1{font-family: 'Roboto', sans-serif;}
.en2{font-family: 'Open Sans', sans-serif;}
.en3{font-family: 'Raleway', sans-serif;}
.ko_12 { font-family: 'Noto Sans KR', sans-serif;font-size:12px; }
.ko_13 { font-family: 'Noto Sans KR', sans-serif;font-size:13px; }
.ko_14 { font-family: 'Noto Sans KR', sans-serif;font-size:14px; }
.ko_15 { font-family: 'Noto Sans KR', sans-serif;font-size:15px; }
.ko_16 { font-family: 'Noto Sans KR', sans-serif;font-size:16px; }
.ko_17 { font-family: 'Noto Sans KR', sans-serif;font-size:17px; font-weight:400; line-height:1.8; }
.ko_18 { font-family: 'Noto Sans KR', sans-serif;font-size:18px; }
.ko_19 { font-family: 'Noto Sans KR', sans-serif;font-size:19px; }
.ko_20 { font-family: 'Noto Sans KR', sans-serif;font-size:20px; }

.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f15{font-size:15px;}
.f16{font-size:16px;}
.f17{font-size:17px;}
.f18{font-size:18px;}
.f19{font-size:19px;}
.f20{font-size:20px;}
.f21{font-size:21px;}
.f22{font-size:22px;}
.f23{font-size:23px;}
.f24{font-size:24px;}
.f25{font-size:25px;}

.fw1{font-weight:100;}
.fw2{font-weight:200;}
.fw3{font-weight:300;}
.fw4{font-weight:400;}
.fw5{font-weight:500;}
.fw6{font-weight:600;}
.fw7{font-weight:700;}

.lh19{line-height: 1.9;}
.lh20{line-height: 2;}

.color-white{color:#c3c3c3;}


.color-sky-blue {background:#cce5ff;}
.color-green{background:#d4edda;}



.portfolio-item {
  margin-bottom: 30px;
}

/*
HEAD-LINE
**********/
h3 {
  /*text-align: center;*/
}

.subtitle {
  margin: 0 0 50px;
}
.head-line {
  line-height: 0.5;
  text-align: center;
}
.head-line span {
  display: inline-block;
  position: relative;  
}
.head-line span:before,
.head-line span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  top: 0;
  width: 100px;
}
.head-line span:before {
  right: 100%;
  margin-right: 15px;
}
.head-line span:after {
  left: 100%;
  margin-left: 15px;
}
.subbg{background:url('../img/subbg.jpg');}


/*
.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}
*/
.bg-dark {
    background-color: #000000!important;
}

#tnb_index {background:#fff;}
#tnb_index h3 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#tnb_index ul {margin:0 auto;width: 1120px;background:#f8f9fa;zoom:1}
#tnb_index ul:after {display:block;visibility:hidden;clear:both;content:""}
#tnb_index li {float:right; margin-bottom:-1px;}
#tnb_index a {display:inline-block;padding:0 10px;color:#616161;line-height:35px;}
#tnb_index .tnb_index_admin a{color:#ff0000;}
#tnb_index .tnb_index_left{float:left}
#tnb_index .tnb_index_left a{padding:0 14px}
#tnb_index .tnb_index_cart{border-right:1px solid #ddd;}
#tnb_index .tnb_index_community{border-right:1px solid #ddd}
#tnb_index .tnb_index_community i{font-size:15px}
#tnb_index .tnb_index_community{background:#e7e7e7;font-weight:bold;}
#tnb_index .tnb_index_community:focus, #tnb_index .tnb_index_community:hover {color:#333;border-bottom:0}
#tnb_index .tnb_index_community a{color:#4ea1d3;border-bottom:1px solid #e7e7e7}
#tnb_index_left {float:left; margin-top:5px}
#tnb_index ul li a{font-size:12px; font-weight:bold; font-family:'Gulim'}

/*
헤딩
**********/
.center-heading {
    text-align: center;
    margin-bottom: 40px;
}
.center-heading p {
    margin-top: 10px;
}
.center-line {
    display: inline-block;
    width: 70px;
    height: 1px;
    border-top: 1px solid #bbb;
    margin: auto;
}

/*
아이콘박스
**********/

.h75{height:75px;}

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #6c757d; vertical-align: middle; }
.box > .icon > .info > i {display: inline-block; width: 127px; height: 127px; line-height: 110px; vertical-align: middle; text-align: center; border-radius: 50%; background: #8dc700;}
.box > .icon > .info > i.icon {padding-left: 10px;}
.box > .icon > .info { margin-top: -24px; border: 1px solid #e0e0e0; padding: 15px 0 10px 0; height:260px; background: #fff;}
.box > .icon > .info > h2 {margin-top:20px; color: #343a40;}
.box > .icon > .info > p {color: #868e96; line-height: 1.2; margin: 20px; margin-top: 0;}
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box .space { height: 30px; }
.info i{font-size:60px;}

/*
parallax
**********/
.parallax-window {
    position: relative;
    background: #3e3b3b52;
}
.para_count {
	padding-top:50px;
}

/*
callbox
**********/
.callbox { background:#f2f2f2; margin-top:50px; padding-top:60px; padding-bottom:60px; }


/*
sns_icon
**********/

.sns_icon{
	list-style: none;
	text-align: center;
	width: 80px;
	cursor: pointer;
	display: inline;
	padding:5px;
}
.sns_icon .fab{ font-size:30px; }

.sns_icon .fa-facebook-f{ color:#a2a2a2; font-size:20px; }
.sns_icon .fa-instagram{ color:#a2a2a2; font-size:20px; }
.sns_icon .fa-twitter{ color: #a2a2a2; font-size:20px; }

.sns_icon a .fa-facebook-f:hover{ color:#3b5998; font-size:20px; }
.sns_icon a .fa-instagram:hover{ color:#dd4b39; font-size:20px; }
.sns_icon a .fa-twitter:hover{ color: #55acee; font-size:20px; }

/*
footer
*/

.a-link a { color:#ffffff; }
.sns_icon a { color:#ffffff; }
.bg-gray{background:#454545;}
.bg-gray div{padding:15px;}

/*
상하 좌우 조절
**********/
.margin-top-10 {
	margin-top:10px;
}
.margin-top-20 {
	margin-top:20px;
}
.margin-top-30 {
	margin-top:30px;
}
.margin-top-40 {
	margin-top:40px;
}
.margin-top-50 {
	margin-top:50px;
}
.margin-top-60 {
	margin-top:60px;
}
.margin-top-70 {
	margin-top:70px;
}
.margin-top-80 {
	margin-top:80px;
}
.margin-top-90 {
	margin-top:90px;
}
.margin-top-100 {
	margin-top:100px;
}
.margin-top-110 {
	margin-top:110px;
}
.margin-top-120 {
	margin-top:120px;
}
.margin-top-130 {
	margin-top:130px;
}
.margin-top-140 {
	margin-top:140px;
}
.margin-top-150 {
	margin-top:150px;
}




.margin-bottom-10 {
	margin-bottom:10px;
}
.margin-bottom-20 {
	margin-bottom:20px;
}
.margin-bottom-30 {
	margin-bottom:30px;
}
.margin-bottom-40 {
	margin-bottom:40px;
}
.margin-bottom-50 {
	margin-bottom:50px;
}
.margin-bottom-60 {
	margin-bottom:60px;
}
.margin-bottom-70 {
	margin-bottom:70px;
}
.margin-bottom-80 {
	margin-bottom:80px;
}
.margin-bottom-90 {
	margin-bottom:90px;
}
.margin-bottom-100 {
	margin-bottom:100px;
}

.margin-bottom-110 {
	margin-bottom:110px;
}
.margin-bottom-120 {
	margin-bottom:120px;
}
.margin-bottom-130 {
	margin-bottom:130px;
}
.margin-bottom-140 {
	margin-bottom:140px;
}
.margin-bottom-150 {
	margin-bottom:150px;
}


.margin-left-10 {
	margin-left:10px;
}
.margin-left-20 {
	margin-left:20px;
}
.margin-left-30 {
	margin-left:30px;
}
.margin-left-40 {
	margin-left:40px;
}
.margin-left-50 {
	margin-left:50px;
}
.margin-left-60 {
	margin-left:60px;
}
.margin-left-70 {
	margin-left:70px;
}
.margin-left-80 {
	margin-left:80px;
}
.margin-left-90 {
	margin-left:90px;
}
.margin-left-100 {
	margin-left:100px;
}
.margin-right-10 {
	margin-right:10px;
}
.margin-right-20 {
	margin-right:20px;
}
.margin-right-30 {
	margin-right:30px;
}
.margin-right-40 {
	margin-right:40px;
}
.margin-right-50 {
	margin-right:50px;
}
.margin-right-60 {
	margin-right:60px;
}
.margin-right-70 {
	margin-right:70px;
}
.margin-right-80 {
	margin-right:80px;
}
.margin-right-90 {
	margin-right:90px;
}
.margin-right-100 {
	margin-right:100px;
}



.padding-top-10 {
	padding-top:10px;
}
.padding-top-20 {
	padding-top:20px;
}
.padding-top-30 {
	padding-top:30px;
}
.padding-top-40 {
	padding-top:40px;
}
.padding-top-50 {
	padding-top:50px;
}
.padding-top-60 {
	padding-top:60px;
}
.padding-top-70 {
	padding-top:70px;
}
.padding-top-80 {
	padding-top:80px;
}
.padding-top-90 {
	padding-top:90px;
}
.padding-top-100 {
	padding-top:100px;
}
.padding-top-110 {
	padding-top:110px;
}
.padding-top-120 {
	padding-top:120px;
}
.padding-top-130 {
	padding-top:130px;
}
.padding-top-140 {
	padding-top:140px;
}
.padding-top-150 {
	padding-top:150px;
}




.padding-bottom-10 {
	padding-bottom:10px;
}
.padding-bottom-20 {
	padding-bottom:20px;
}
.padding-bottom-30 {
	padding-bottom:30px;
}
.padding-bottom-40 {
	padding-bottom:40px;
}
.padding-bottom-50 {
	padding-bottom:50px;
}
.padding-bottom-60 {
	padding-bottom:60px;
}
.padding-bottom-70 {
	padding-bottom:70px;
}
.padding-bottom-80 {
	padding-bottom:80px;
}
.padding-bottom-90 {
	padding-bottom:90px;
}
.padding-bottom-100 {
	padding-bottom:100px;
}

.padding-bottom-110 {
	padding-bottom:110px;
}
.padding-bottom-120 {
	padding-bottom:120px;
}
.padding-bottom-130 {
	padding-bottom:130px;
}
.padding-bottom-140 {
	padding-bottom:140px;
}
.padding-bottom-150 {
	padding-bottom:150px;
}





.p-r{position: relative;}
.p-a{position: absolute;}


.para-text h2{line-height:2.5;}
.display-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.color_666{color:#666;}
.bg-gray2{
	background:#f2f2f2;
	padding-bottom: 20px;
	padding-top: 20px;
}

.heading{
	font-size: 18px;
	line-height: 24px;
}
.pro-icon i{font-size:24px;}

.navbar-toggler {
    background-color: #454545;
}


.para-text{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* 모바일기기 */
@media only screen and (max-width: 320px) {

	/* 모바일 1 슬라이드 크기 조절 */
	.carousel-item {
	  height: 200px;;
	  min-height: 200px;
	  background: no-repeat center center scroll;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

	/* 모바일 슬라이드 텍스트 크기 조절 */
	.carousel-caption h3{font-size:16px;}
	.carousel-caption p{font-size:14px;}


	/*
	네비
	**********/
	.navbar-brand { font-size:25px; font-weight:bold; }
	.navbar-nav li {
		padding: 5px 0 5px 10px;
	}

}

/* 모바일기기 + 태블릿 */

@media only screen and (min-width: 321px) and (max-width: 768px){

	/* 모바일 2 슬라이드 크기 조절 */
	.carousel-item {
	  height: 200px;;
	  min-height: 200px;
	  background: no-repeat center center scroll;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

	/* 모바일 슬라이드 텍스트 크기 조절 */
	.carousel-caption h3{font-size:16px;}
	.carousel-caption p{font-size:14px;}

	/*
	네비
	**********/
	.navbar-brand { font-size:25px; font-weight:bold; }
	.navbar-nav li {
		padding: 5px 0 5px 10px;
	}

}

/* 태블릿 */
@media only screen and (min-width: 769px) and (max-width: 1200px){

	/* 태블릿등 슬라이드 크기 조절 */
	.carousel-item {
	  height: 620px;;
	  min-height: 300px;
	  background: no-repeat center center scroll;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

	/*
	네비
	**********/
	.navbar-brand { font-size:25px; font-weight:bold; }
	.navbar-nav li {
		padding: 20px 0 20px 24px;
	}

}


/* 데스크탑 */
@media only screen and (min-width: 1201px) {

	/* DESKTOP 슬라이드 크기 조절 */
	.carousel-item {
	  height: 620px;;
	  min-height: 300px;
	  background: no-repeat center center scroll;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

	/*
	네비
	**********/
	.navbar-brand { font-size:25px; font-weight:bold; }
	.navbar-nav li {
	}


}