@charset "utf-8";
ul.rumitab { margin: 0; padding: 0; list-style: none; height: 40px; border-bottom: 1px solid #ccc; background:#fafafa; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-top: 1px solid #ccc; width: 100%; font-size:12px; }
ul.rumitab li { display:inline-block; text-align:center; cursor: pointer; min-width:80px; height: 40px; left:-1px; line-height: 40px; border: 0px solid #ccc; border-left: none; font-weight: bold; overflow: hidden; position: relative; }/* 탭 - 메뉴 */
ul.rumitab li:hover { color:red;} 
ul.rumitab li.active { background: #FFFFFF; color:#dd6666; border:1px solid #ccc; border-top:3px solid #dd6666; border-bottom: 1px solid #FFFFFF; line-height:35px; } /* 선택된 탭 스타일 */
 ul.rumitab li.active a { color:#dd6666; _pointer-events:none; }
.rumitab_container { border: 1px solid #ccc; padding:10px 8px 8px 8px; border-top: none; clear: both; float: left; width: 100%; background: #FFFFFF; }/* 탭 내용 박스 */
.rumitab_content { padding: 5px; font-size: 12px; text-align:left; }
.rumitab_container .rumitab_content ul { width:100%; margin:0px; padding:0px; }
.rumitab_container .rumitab_content ul li { padding:5px; list-style:none; height:auto; overflow:hidden; }
.rumitab_box { width: 100%; min-height:150px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1); -moz-box-shadow:  0 1px 3px rgba(0,0,0,0.1); overflow:hidden}/* 탭 전체 크기 */

/* 새글 스킨 (latest) */
#cw {
	padding:4px 8px 0px 8px;
	margin:0px;
	width:100%;
	min-height:200px;
	_background:#FF80FF;

}

#cw ul {
	margin:0px;
	padding:0px;
	list-style:none;
}

#cw .lt_title { display:block; padding:10px 0 8px; }
#cw .lt_more { position:absolute; top:10px; right:0; }
#cw .cnt_cmt { display:inline-block; margin:0 0 0 3px; font-weight:bold; }

#cw ul li {
	padding:3px 0px 1px 0px;
	height:25px;
	width:100%;
	font-size:12px;
	border-bottom:1px dotted #cccccc;
}

#cw ul li:last-child { border:0px; }  /* 마지막 요소 */
/*#cw ul li:nth-last-child(2) { border:0px; }*/ /* 마지막에서 2번째 요소 */
#cw .notice_class { color:#dd6666; }