@charset "utf-8";

/* 내용관리 */
#ctt.ctt_company {height: 120vh;}
.ctt_company #ctt_con p {font-weight: 500;}
.ctt_company #ctt_con p:not(:nth-of-type(2)) {color: #868E96;}
.ctt_company #ctt_con p:nth-of-type(2) {margin-top: 60px;}
.ctt_company #ctt_con p:nth-of-type(3) {border-bottom: 3px solid #F44E7D;}