@charset "utf-8";

/* 새글 스킨 (latest) */
#cw {
	padding:4px 8px 0px 8px;
	margin:0px;
	width:100%;
	min-height:200px;
	_background:#FF80FF;

}

#cw ul {
	margin:0px;
	padding:0px;
	list-style:none;
}

#cw .lt_title { display:block; padding:10px 0 8px; }
#cw .lt_more { position:absolute; top:10px; right:0; }
#cw .cnt_cmt { display:inline-block; margin:0 0 0 3px; font-weight:bold; }

#cw ul li {
	padding:3px 0px 1px 0px;
	height:25px;
	width:100%;
	font-size:12px;
	border-bottom:1px dotted #cccccc;
}

#cw ul li:last-child { border:0px; }  /* 마지막 요소 */
/*#cw ul li:nth-last-child(2) { border:0px; }*/ /* 마지막에서 2번째 요소 */
#cw .notice_class { color:#dd6666; }